.frontpage-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: black;

  &__left {
    width: 12.5%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 12.5%;
    color: white;
  }

  &__mid {
    background: url("/logos/logo1.png") no-repeat;
    background-size: contain;
    width: 75%;
    padding: 2.5rem 0;
    position: relative;
  }
}

.launch-btn {
  background: orange;
  color: white;
  border: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(51%, -50%);
  width: 9.8rem;
  padding: 0.3rem 0;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.left-logo {
  width: 100%;

  &__img{
    width: 100%;
  }
}

/* MAIN CONTENT */

.frontpage-main-content {
  display: flex;
  background: black;

  &__left {
    width: 66.6%;
    background: green;
    margin-left: 0.4rem;

    &--top {
      background: url("http://na.leagueoflegends.com/sites/default/files/styles/wide_medium/public/upload/article.header.pool_.party_.set_.en_.jpg?itok=QaAKtHvK") no-repeat;
      background-size: cover;
      height: 26rem;
    }

    &--btm {
      height: 13rem;
    }

  }

  &__right {
    background: red;
    width: 33.3%;
    margin-right: 0.4rem;

    &--top {
      background: blue;
      height: 13rem;
    }

    &--mid {
      background: yellow;
      height: 13rem;
    }

    &--btm {
      background: orange;
      height: 13rem;
    }
  }
}
