{{outlet}}
<div class="frontpage-top-nav">
  <div class="frontpage-top-nav__left">
    <div class="left-logo">
      <img class="left-logo__img" src="https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png" alt="">
    </div>
  </div>
  <div class="frontpage-top-nav__mid">
    <button class="launch-btn">LAUNCH</button>
  </div>
  <div class="frontpage-top-nav__right">
    <div class="server-status">Online</div>
    <div class="select-server">
      {{fa-icon "caret-square-o-down"}}North America
    </div>
  </div>
</div>
<div class="frontpage-main-content">
  main
</div>
<div class="frontpage-footer">
  footer
</div>
